In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
tags_df = pd.read_csv("C:/Users/PC/Desktop/FewShotPhd/data_hvu/hvu_classes/HVU_Tags_Categories_V1.0.csv")
general_df = pd.read_csv("D:/HolisticVideoUnderstanding/HVU_Train_V1.0.csv")

In [3]:
general_df.head(3)

,Tags,youtube_id,time_start,time_end
0,brass_instrument|musical_instrument|trumpet|wo...,OLpWTpTC4P8,57.0,67.0
1,gadget|electronic_musical_instrument|electroni...,pjj6zedpCQY,75.0,85.0
2,photograph|joint|shoulder|nature|human_leg|fun...,_STSOsITd0E,3.0,13.0

In [48]:
train_videos_path = "D:/HolisticVideoUnderstanding/val"
train_videos_actions = os.listdir(train_videos_path)

general_train_df = pd.DataFrame()

for action in train_videos_actions:
    
    action_path = os.path.join(train_videos_path, action)
    action_videos_name = os.listdir(action_path)
    action_videos_id = []
    
    for name in action_videos_name:
        action_videos_id.append(name.split(".mp4")[0])
    
    action_df = general_df[general_df["youtube_id"].isin(action_videos_id)]
    action_df["action_name"] = [action] * len(action_df)
    
    general_train_df = general_train_df.append(action_df)

C:\Users\PC\anaconda3\envs\HVU_downloader\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [49]:
general_train_df["general_idx"] = list(range(0, len(general_train_df)))

In [50]:
general_train_df.tail()

,Tags,youtube_id,time_start,time_end,action_name,general_idx
368487,performing_arts|child|footwear|fun|salsa_danci...,XI1U85FEulQ,25.0,35.0,salsa dancing,1594
375500,performance|performing_arts|dancer|theatre|mus...,SnhPUac-QQI,86.0,96.0,salsa dancing,1595
375830,performance|shadow|performing_arts|night|silho...,ma4Mz-uDmEI,121.0,131.0,salsa dancing,1596
375925,night|cool|performing_arts|dancer|nightclub|fu...,_j6-afs7_0E,37.0,47.0,salsa dancing,1597
375926,night|bar|fun|entertainment|salsa_dancing|ligh...,KwOxD1CRYFo,105.0,115.0,salsa dancing,1598

In [51]:
general_train_df.to_csv("C:/Users/PC/Desktop/FewShotPhd/data_hvu/hvu_classes/val_df.csv", index=False)